@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Dalek Pinpoint';
    src: url('/fonts/DalekPinpointBold.woff2') format('woff2'),
      url('/fonts/DalekPinpointBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
